<%= image_tag 'custom/header_end2011.jpg', :alt => 'Belgian Data Portal - Give wings to your research', :usemap => "#be_map", :style => "width: 100%" %>
<h1>Belgian Data Portal</h1>
<h2>Give wings to your research</h2>

<%= render :partial => 'layouts/locale_selector2' %>

<map name="be_map" id="be_map">
  <area shape="rect" coords="25,25,200,200" href="http://www.biodiversity.be" />
</map> 
