<h1>Bienvenue !</h1>

<p>
  Ce portail offre un accès gratuit aux données relatives à la biodiversité en Belgique.
  Ce site est une initiative de la <%= link_to_bbpf %> en sa qualité de noeud belge du
  Global Biodiversity Information Facility (GBIF).
</p>

<p>
<%= link_to_gbif %> a pour but de fournir via le web un accès gratuit et universel à des données primaires
(occurrences en provenance de collections ou d'observations). GBIF agit au bénéfice de la science et de
la conservation de la biodiversité.
</p>

<p>
 Si vous gérez une base de donnée relative à la biodiversité, vous pouvez contribuer
 à cette initiative globale en <%= link_to 'publiant vos données via le web', 'http://www.gbif.org/participation/publishers/', :class => 'external' %>.
</p>
 
