<h1>Welcome !</h1>
<p>
  This portal provides access to biodiversity data pertaining to Belgium.
</p>

<p>
  It is an initiative of the <%= link_to_bbpf %>, the Belgian node of the Global
  Biodiversity Information Facility.
</p>

<p>
<%= link_to_gbif %> aims at providing free and universal access to primary
biodiversity data (specimens occurrence data by collection specimens or
observations). It does so by enabling web-based access to biodiversity
databases to the benefit of science and conservation.
</p>

<p>
 If you maintain a database holding biodiversity data, you can contribute to 
 this global effort by <%= link_to 'becoming a data provider', 'http://www.gbif.org/participation/publishers/', :class => 'external' %>
and publishing your data on the web.
</p> 
