<h1>Welkom !</h1>

<p>
  Dit portaal laat toe primaire biodiversiteitsgegevens met betrekking tot het
  Belgische grondgebied te exploreren.
</p>

<p>
  Deze website is een initiatief van het <%= link_to_bbpf %>, het Belgische
  knooppunt van de Global Biodiversity Information Facility (GBIF).
</p>

<p>
  <%= link_to_gbif %> streeft ernaar om primaire biodiversiteitsgegevens (specimens 
  in collecties en observaties) vrij en universeel toegankelijk te maken. Het doet
  dit door gegevenssets open te stellen via het internet, met als doel het
  wetenschappelijk onderzoek en het natuurbehoud te ondersteunen.
</p>

<p>
  Indien je zelf een databank met biodiversiteitsgegevens beheert kan je actief 
  bijdragen aan dit globale initiatief door zelf een data provider
  <%= link_to 'te worden', 'http://www.gbif.org/participation/publishers/', :class => 'external' %>
  en je gegevens op het internet te publiceren.
</p> 
