<p>Par principe, la <%= link_to_bbpf %> utilise des logiciels libres et open source.</p>

<p>Nous ne "réinventerons pas la roue" en développant un logiciel si une alternative libre et correctement
  documentée existe.
</p>
<p>
  Par conséquent, nous sélectionnons et intégrons les composants logiciels les
  plus adaptés pour répondre à nos besoins.

</p>
<p>Vous trouverez ci-dessous une liste non exhaustive de logiciels que nous utilisons et recommandons :</p>
