<p>As a principle, the <%= link_to_bbpf %> uses free, open source software.</p>
<p>We will never develop software that is freely available and well documented.</p>
<p>
  Consequently,we select and integrate only the most suitable, reliable, world-wide
  accepted software components supported by a large community of IT professionals.
</p>
<p>Listed below is an overview of the software we use and recommend :</p>
