<% @page_title = 'Appels à numérisation' %>

<h1>Appels à numérisation</h1>

<div id="calls" class="roundedbox">
  <p>
    Un des buts principaux de la <%= link_to_bbpf %> est d'encourager
    les échanges de données entre scientifiques en Belgique et à l'étranger, ainsi
    que ces échanges avec les acteurs clé et les décideurs.
  </p>

  <p>
    Sachant que la numérisation est souvent l'étape limitante dans la diffusion des données
    scientifiques, la plate-forme lance chaque année des appels à projets de numérisation
    de données de collections ou d'observations relatives à la biodiversité. Les projets sélectionnés
    permettent d'illustrer le rapport coût/efficacité d'une numérisation et l'utilité de la publication
    des données pour des usages scientifiques ou pratiques. En marge du support financier,
    la plate-forme offre également le support informatique nécessaire à la mise en oeuvre du projet.
  </p>

  <p>
    Publications de la plate-forme :
  </p>

  <ul>
    <li><%= link_to 'Appel à numérisation 2010', '/documents/custom/digit-call-2010.pdf' %></li>
  </ul>

  <p>
    Voir aussi les <%=  link_to 'publications du GBIF', 'http://www.gbif.org/participation/training/resources/gbif-training-manuals/', :class => 'external' %>
    (Initiating a Collection Digitisation Project, Principles of Data Quality, Principles and Methods of Data Cleaning ...).
  </p>

</div>
