<% @page_title = t 'cus.page_titles.digit_2010' %>

<h1><%= t 'cus.projects.dc_2010' %></h1>
<h3><%= t 'cus.projects.three_2010' %></h3>

<% projects = [
{
  :html_id => 'avesbirds', :name => 'Digitisation of AVES bird observation records anterior to 1990',
  :promotors => link_to('Jean-Yves Paquet', 'http://biobel.biodiversity.be/person/show/717', :class => 'external') + ", " + link_to('Marc de Sloover', 'http://biobel.biodiversity.be/person/show/3159', :class => 'external') + ' (Aves-Natagora)',
  :abstract => 
      '<p>The purpose of the project is to digitise a significant part of ornithological data gathered by Aves between 1960 and 1990. 
      These observation data are currently stored on hand-written record cards that were filled in by experienced ornithologists 
      from monthly record forms sent by hundreds of field birdwatchers. Together with the current observation database, pre-1990 
      digitised bird observation data will allow for study of change in bird phenology, distribution and abundance during a 50-year 
      period. An estimated 60 000 of about 200 000 existing records are expected to be digitised during the present project. 
      The data reliability and quality will be of the highest standard possible, thanks to careful record validation operated back 
      when they were collected and the original web-assisted procedure of the digitisation process that will be developed at the start 
      of the project.</p>'
},

{
  :html_id => 'beetles2', :name => 'Inventory of the Belgian bark beetles (Scolytidae), powder beetles (Lyctidae) and their associated saproxylic beetle fauna',
  :promotors => link_to('Dr Patrick Grootaert', 'http://biobel.biodiversity.be/person/show/1062', :class => 'external') + " (Royal Belgian Institute of Natural Sciences)",
  :abstract => 
    '<p>Saproxylic beetles form an important part of forest biodiversity. Since many years there is a great interest in saproxylophagous/xylobiont
    insects from various stakeholders. Traditionally, engineers in forest management are interested in the species causing damage to standing 
    wood, which is caused in Belgium primarily by bark beetles(Scolytidae) (Drumont et al., 1991; Warzée &amp; Grégoire, 2003). They want 
    distribution maps of pest species and see changes of dispersal if any.</p>

    <p>Forest engineers are interested to learn of dangerous invasive species, and of potential predatory species that may be able to control 
    damaging insects. On the other hand many xylobiont species are not harmful at all and prefer to live in dead and decaying wood. Their 
    presence is often an indication of maturity and quality of a forest. Incidentally, many of these rare species belong to the same 
    taxonomic groups(families) of species predating on bark beetles.</p>

    <p>Hence there is a demand for information from both forest management as well as nature conservation for more information about bark 
    beetles and their associated fauna. Many of these species are very rare in Belgian forests due to overexploitation of wood. Recent 
    distribution changes have been observed for several species, by natural means or as a result of human transport.</p>

    <p>In Belgium, there are no recent and complete catalogues or distribution atlases for most of the saproxylic and xylobiont beetle 
    families, which poses a problem handling questions concerning biodiversity conservation, forest health, or dealing 
    with invasive species.</p>'
},

{
  :html_id => 'ifbl2', :name => 'Digitisation of IFBL flora checklists for Belgium (1939-1971) II',
  :promotors => link_to('Dr. Leo Vanhecke', 'http://biobel.biodiversity.be/person/show/1013', :class => 'external') + ' (Meise, National Botanic Garden of Belgium)',
  :abstract => 
    '<p>The project aims at the continuation of the former digitisation project of Belgian IFBL checklists from the period 1939-1971. An 
    equivalent number of IFBL 1 km² flora checklists sampled between 1939 and 1971 will be digitalised (about 2000 original lists, or 
    1/5 of the approx. 10 000 available lists). This amount of lists corresponds with some 200 000 data representative of the former 
    distribution of vascular plant species in Belgium. The digitisation of yet another part of existing checklists in Belgium is on its 
    own already a meaningful objective, especially in relation to the realisation of a new atlas for the distribution of plants in the 
    Walloon region. As it was the case for the first project, we will try to realise a project that can also standalone. Therefore we will 
    adapt the selection procedure for the lists to be digitised. This procedure, based on the quality of the individual lists and on 
    maximising the spatial dispersion of the data throughout Belgium, remains essentially the same, but it will be the second best list 
    (instead of the best lists in the first project) that will be selected. The results will be compared to the results of the first project 
    (best lists versus second best lists) and the whole set of both projects will be integrated. The digitised data will be placed on one 
    or more websites, at the disposal of scientists, policy makers, and any other interested people. </p>

    <p>They will be integrated in existing national and regional flora databases and will contribute to the realisation of the regional Flora 
    Atlases. The analysis of the digitised data will improve our possibilities to compare floral data over successive periods and will be 
    of help in developing a strategy for reducing the costs and the length of new flora monitoring and mapping projects in the future.</p>'
}



] %>

<%= render(:partial => 'digitxxx', :locals => {:projects => projects}) %>

 
