<% @page_title = 'Digitisation Calls' %>

<h1>Digitisation Calls</h1>

<div id="calls" class="roundedbox">
  <p>
    The Platform aims at promoting biodiversity data exchange between scientists
    in Belgium and abroad as well as with field actors and decision makers.
  </p>

  <p>
    Since digitisation is often the limiting step in the diffusion of biodiversity
    information, we are interested in supporting small projects of digitisation
    of biodiversity related collections/observational data.
  </p>

  <p>
    The selected project serve as a showcase illustrating the cost-efficiency
    of digitisation processes and the usefulness of digitized data for scientific
    and/or practical applications. In addition to financial support,
    the Platform also provides IT support for the implementation of the project.
  </p>

  <p>
    Platform publications:
  </p>

  <ul>
    <li><%= link_to '2010 digitisation Call', '/documents/custom/digit-call-2010.pdf' %></li>
  </ul>

  <p>
    See also <%=  link_to 'GBIF publications', 'http://www.gbif.org/participation/training/resources/gbif-training-manuals/', :class => 'external' %>
    (Initiating a Collection Digitisation Project, Principles of Data Quality, Principles and Methods of Data Cleaning ...).
  </p>

</div>