<% @page_title = 'ENBI WorkPackage 13' %>

<h1>ENBI WorkPackage 13</h1>

<h3>Making non-European biodiversity data in European repositories globally available</h3>

<div class="abstract">
  <%= image_tag 'custom/enbi.jpg', :class => 'abstract' %>
  <p>
    ENBI (European Network for Biodiversity Information) is an initiative funded by
    the European Union, and has the general objective to manage an open network of
    relevant biodiversity information centres in Europe. This programme aims at
    being the European contribution to the Global Biodiversity Information Facility (GBIF)
  </p>
  <p>
    One element of ENBI (WP13, work package 13), in which the Platform is involved,
    deals with making non-European biodiversity data in European repositories globally
    available. As many European countries have a colonial past, a large share of
    global biodiversity information, especially from developing countries in the
    tropics resides in databases of European institutions, including museum and botanic
    garden collections. Faced with a fragile infrastructure and limited resources for
    taxonomy, local users of biodiversity information in tropical countries are
    confronted with  great difficulties to obtain access to high-quality collections-based
    information on the biodiversity of their region.
  </p>
</div>
<p>see <%= link_to 'website', 'http://projects.bebif.be/enbi/', :class => 'external' %></p>

