<% @page_title = 'ENBI WorkPackage 13' %>

<h1>ENBI WorkPackage 13</h1>

<h3>Rendre les données non-européennes conservées en Europe disponibles globalement</h3>

<div class="abstract">
  <%= image_tag 'custom/enbi.jpg', :class => 'abstract' %>
  <p>
    ENBI (European Network for Biodiversity Information) est une initiative financée par
    l'Union européenne, et à comme objectif général de gérer un réseau ouvert
    de centres d'informations sur la biodiversité en Europe. Ce programme a pour but
    d'être la contribution européenne au GBIF (Global Biodiversity Information Facility)
  </p>
  <p>
    Un élément de ENBI (WP13, work package 13), dans lequel la <%= link_to_bbpf %> est impliquée,
    s'occuppe de rendre les données non-européennes conservées en Europe globalement
    disponibles.
    De nombreux pays européens ayant un passé colonial, une grande partie des
    données globales de biodiversité est conservées dans des bases de données d'institutions européennes
    (notamment les musées et jardins botaniques), en particulier pour les pays en développement.

    Confrontés à une infrastructure parfois fragile et à des ressources limitées en matière de taxonomie,
    les utilisateurs de données de biodiversité dans les pays tropicaux rencontrent souvent de grandes
    difficultés pour obtenir accès à des données de grande qualités provenant de collections pour leur régions.
    
  </p>
</div>
<p>voir <%= link_to 'site web', 'http://projects.bebif.be/enbi/', :class => 'external' %></p>
