<% @page_title = 'Freshwater Animal Diversity Assessment (FADA)' %>

<h1>Freshwater Animal Diversity Assessment (FADA)</h1>

<h3>A global assessment of freshwater animal groups</h3>

<div class="abstract">
  <%= image_tag 'custom/fada.png', :class => 'abstract' %>
  <p>
    The Freshwater Animal Diversity Assessment” (FADA) is an informal network of
    scientists specialized in freshwater biodiversity.
  </p>
  <p>
    The main product of FADA is a special issue of Hydrobiologia that compiles all
    contributions on freshwater animal groups. The aim is to cover the whole range
    of freshwater taxa from nematods or bryozoans to mammals and birds, including a
    specific chapter on macrophytes. but excluding microbes, virus, protists, and
    algae. In addition, all groups which are exclusively parasitic and not entirely
    aquatic are not included (i.e. Acanthocephala, Monogenea, Digenea). The special
    issue consists of a total of 59 groups/chapters. Some chapters address a whole
    phylum (Rotifera, Porifera ...), others address a class, an order or even a
    family depending on the number of species and on the available taxonomic expertise.
  </p>
  <p>
    The FADA database is an information system dedicated to freshwater animal species
    diversity and distribution. The system provides access to authoritative species
    lists and global distribution compiled by world experts for the FADA book.
  </p>
</div>
<p>see <%= link_to 'website', 'http://fada.biodiversity.be/', :class => 'external' %></p>

