<% @page_title = 'Freshwater Animal Diversity Assessment (FADA)' %>

<h1>Freshwater Animal Diversity Assessment (FADA)</h1>

<h3>Une évaluation globale des groupes d'animaux d'eau douce</h3>

<div class="abstract">
  <%= image_tag 'custom/fada.png', :class => 'abstract' %>
  <p>
    Freshwater Animal Diversity Assessment” (FADA) est un réseau informel de scientifiques
    spécialisé dans la biodiversité des eaux douces.
  </p>
  <p>
    La base de données FADA est un système d'information dédié à la diversité et à la distribution
    des espèces d'eau douce. Le système donne accès à des listes d'espèces officielles
    et à une distribution globale compilée par des experts internationaux.
  </p>
  <p>
    L'objectif de ce consortium est de couvrir tout le spectre taxonomique allant des nématodes
    , des ectoproctes jusqu'aux mammifères et aux oiseaux, inclu un volet spécial portant sur les
    macrophytes. Les microbes, virus, protistes et algues sont exclus de cette compilation. Tous les groupes qui sont exclusivement composés de parasites ou
    non exclusivement aquatiques sont également exclus (par exemple Acanthocephala, Monogenea et Digenea).
    Cette initiative à aboutit sur une édition spéciale de la revue Hydrobiologia qui
    compile toutes les contributions des membres de FADA sur les groupes d'animaux d'eau douce.
  </p>

  <p>

    Cette édition spéciale comprends 59 groupes/chapitres. Certains de ces chapitres concernent
    un embranchement complet (Rotifera, Porifera ...), d'autres concernent une classe, un ordre ou
    une famille, en fonction du nombre d'espèces et de l'expertise taxonomique disponible.

  </p>
  
</div>
<p>voir <%= link_to 'site web', 'http://fada.biodiversity.be/', :class => 'external' %></p>
