<% @page_title = 'Our projects' %>

<h1>Our projects</h1>

<div id="projects" class="roundedbox">
<p>The <%= link_to_bbpf %>  is the national node of Global Biodiversity Information Facility (<%= link_to_gbif %>).</p>
<p>As such, one of our main tasks is to promote publication of Belgian datasets holding biodiversity data through the GBIF network. This is mainly achieved through contacts with various scientific institutions around the country, the Platform's dedicated digitisation projects call and by supporting international thematic intiatives.</p>
<p>
	This section provides an overview of our past and present initiatives:</p>
<ul>
<li>digitisation calls : 2006, 2007, 2009</li>
<li>European Network for Biodiversity Information (ENBI)</li>
<li>Freshwater Animal Diversty Assessment (FADA)</li>
<li>Antarctic Biodiversity (SCAR-MarBin)</li>
</ul>	
<p>The Belgian Data Portal enables you to explore species occurrences pertaining to the Belgian territory.
  For historical reasons, however, many Belgian biodiversity projects focus on Africa and Antarctica. 
</p>

<p>
  We suggest you visit the relevant web sites or the
  <%= link_to ' GBIF Data Portal', 'http://data.gbif.org', :class => 'external'%>
  to explore the corresponding datasets.
</p>
</div>