<% @page_title = 'Onze projecten' %>

<h1>Onze projecten</h1>

<div id="projects" class="roundedbox">
<p>Het <%= link_to_bbpf %> is het nationaal knooppunt van het GBIF (<%= link_to_gbif 'Global Biodiversity Information Facility' %>).</p>
<p>
  Dit houdt in dat één zijn belangrijkste taken erin bestaat
  om Belgische biodiversiteitgegevens te publiceren via het GBIF netwerk.
  Dit gebeurt voornamelijk door samenwerking met verschillende instituten in het
  land, door een gerichte oproep voor digitalisatieprojecten en door het ondersteunen van
  internationale thematische initiatieven.
</p>

<p>
  In deze sectie geven we een overzicht onze voorbije en huidige initiatieven:</p>
<ul>
<li>digitisation calls : 2006, 2007, 2009</li>
<li>European Network for Biodiversity Information (ENBI)</li>
<li>Freshwater Animal Diversty Assessment (FADA)</li>
<li>Antarctic Biodiversity (SCAR-MarBin)</li>
</ul>
<p>
  Het Belgisch dataportaal laat toe om het voorkomen van soorten op het Belgische grondgebied te doorzoeken. 
  Omwille van historische redenen zijn talrijke Belgische biodiversiteitsprojecten gericht of Afrika
  en Antarctica.
</p>

<p>
  Om de hieruit resulterende gegevenssets te exploreren suggereren we om de relevante
  thematische webstekken of het 
  <%= link_to 'GBIF gegevensportaal', 'http://data.gbif.org', :class => 'external'%>
  te bezoeken.
</p>
</div>