<% @page_title = 'Autres projets' %>

<h1>Autres projets</h1>

<h3>Base de données taxonomique globale de Gracillariidae (Lepidoptera)</h3>
<div class="abstract">
  <p>

  The Gracillariidae is one the largest family of primitive moths (Lepidoptera)
  with a wingspan varying from 4-16 mm. Gracillariid moths are generally distributed
  throughout the world except Antarctica, and they are more numerous in tropical
  areas. The larvae of most Gracillariidae species are internal feeders on live
  plant tissue with a tendency to olygophagy or monophagy. Many species of Gracillariidae
  are serious pests of agricultural and ornamental plants. The phytophagous habits
  made some species of Gracillariidae of economic importance. Just during the last
  decade the pest species on the horse chestnut tree Cameraria ohridella Deschka &
  Dimić and Phyllocnistis citrella Stainton on the lemon tree became perhaps the most
  studied lepidopterous species ever. Many other Gracillariidae species are pests
  of agricultural and ornamental plants feeding on 106 different plant families.
  Furthermore, some Gracillariidae are known as fast spreading invasive species.
  However, the taxonomic information on this group of mining insects is scattered
  in over more than 3700 literature sources. 57 museums and scientific institutions
  worldwide house the types of Gracillariidae in their scientific collections.
  </p>
  <p>
  This website provides an online database of the World Gracillariidae updated with
  the latest information obtained from various sources and from our own studies. It
  currently holds information on 1901 extant species, excluding 11 unplaced and 2
  fossil species which are presented in a separate list. The website provides taxonomic
  information on 154 genus-group names and 2623 species-group names, belonging to 104
  genera (Last updated: 23 January 2009).
  </p>
</div>
<p>see <%= link_to 'website', 'http://gc.bebif.be/', :class => 'external' %></p>

<h3>Autres ressources publiées au GBIF</h3>

<div class="abstract">
  <%= image_tag 'gbif_logo.png', :class => 'abstract' %>
  <p>
  En plus des projets de numérisation, la <%= link_to_bbpf %> contribue
  à rendre les collections belges sur la biodiversité accessible via le GBIF.
  Visitez les GBIF data portal pour voir tous les jeux de données hébergés par la plate-forme
  et explorer les espèces, pays et jeux de données dans le monde entier.

  </p>
</div>
<p>voir <%= link_to 'Jeux de données fournis par la plate-forme', 'http://data.gbif.org/datasets/provider/12', :class => 'external' %></p><%#
%>

