<% @page_title = 'SCAR-MarBIN' %>

<h1>SCAR-MarBIN</h1>

<h3>Antarctic Marine Biodiversity Information Network</h3>

<div class="abstract">
<%= image_tag 'custom/scarmarbin.gif', :class => 'abstract' %>
  <p>
  The Antarctic environment is presently undergoing radical changes. Due to its
relatively pristine state, its high rate of endemism, its highly adapted character
and its presumed sensitivity to these changes, the Antarctic marine biodiversity
has an exclusive value. It is, however, a condition to establish reliable and
comprehensive baseline information about Antarctic marine biodiversity to provide
a reference state against which subsequent changes - due to possible effects of
global warming, ozone depletion, exploitation, global pollution or natural causes -
may be monitored and compared in the medium and long term.
  </p>
  <p>

The SCAR-MarBIN (Marine Biodiversity Information Network) project aims at establishing
and supporting a distributed system of interoperable databases, which will form a
coordinated network under the aegis of SCAR (Scientific Committee on Antarctic Research)
as part of the new “EBA” programme (Evolution and biodiversity in the Antarctic).
SCAR-MarBIN will compile existing information and manage new information on Antarctic
marine biodiversity, by coordinating, supporting, completing and optimizing databases
containing such information.
  </p>
</div>
<p>see <%= link_to 'website', 'http://www.scarmarbin.be/', :class => 'external' %></p>

