<% @page_title = 'SCAR-MarBIN' %>

<h1>SCAR-MarBIN</h1>

<h3>Antarctic Marine Biodiversity Information Network</h3>

<div class="abstract">
  <%= image_tag 'custom/scarmarbin.gif', :class => 'abstract' %>
  <p>
    L'environnement de l'Antarctique subit actuellement des changements majeurs. De par son
    état relativement préservé, son taux élevé d'endémisme, son caractère hautement adapté et
    sa supposée fragilité aux changements, la biodiversité marine de l'Antarctique
    a une valeur particulière. C'est donc un pré-requis que de fournir une référence fiable
    et compréhensible de l'état de la biodiversité en Antarctique, afin de
    surveiller son évolution à moyen et à long terme d'évaluer les effets possibles
    du réchauffement global, de la dégradation de la couche d'ozone, de l'exploitation, de la pollution
    ou des causes naturelles sur cette biodiversité.
  </p>

  <p>
    Le but du projet SCAR-MarBIN (Marine Biodiversity Information Network) est d'établir et de maintenir
    un réseau distribué de bases de données inter-opérables qui formeront un réseau coordonné sous l'égide du
    SCAR (Scientific Committee on Antarctic Research). SCAR-MarBIN fait partie prenante du nouveau programme EBA
    (Evolution and Biodiversity in the Antarctic). SCAR-MarBIN compilera et gérera
    les données existantes ainsi que de nouvelles données sur la biodiversité marine de l'Antarctique en
    coordonnant, fournissant du support, complétant et optimisant les bases de données comportant ces informations.

  </p>
</div>
<p>voir <%= link_to 'site web', 'http://www.scarmarbin.be/', :class => 'external' %></p>

